[core]
	editor = nvim
[push]
	default = simple
[diff]
	tool = meld
	algorithm = patience
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[mergetool]
	keepBackup = false
[merge]
	conflictstyle = diff3
	tool = meld
	ff = only
[mergetool]
	keepBackup = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[alias]
	cleanup = !git branch --merged master | grep -v master | xargs -n 1 git branch -d
	ignore = !git update-index --assume-unchanged
	deignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	wat = log --graph --decorate --oneline -15
[user]
	name = Paweł Jan Czochański
	signingkey = 82843164B26A29FB
[gpg]
	program = gpg2
[color]
	ui = true
[transfer]
	fsckObjects = true
[receive]
	fsckObjects = false
[fetch]
	fsckObjects = false
	ui = true
[commit]
	template = /home/czocher/.gitmessage
