[core]
	editor = nvim
[push]
	default = simple
[diff]
	tool = meld
[merge]
	tool = meld
	ff = only
[alias]
	cleanup = !git branch --merged master | grep -v master | xargs -n 1 git branch -d
[user]
	name = Paweł Jan Czochański
	signingkey = 82843164B26A29FB
[gpg]
	program = gpg2
[tag]
	forceSignAnnotated = true
